#orange
{
    color: orange;
}
.flex-direction
{
    margin-top: 10px;
    padding-bottom: 15px;
}
.food
{
    text-align: center;
}
.healthy-info
{
    margin-left: 15px;
}
.food-items
{
    margin-top:50px;
}
.responsive-layout
{
    display: flex;
    margin-bottom: 50px;
    
}
.half-width
{
    width: 50%;
    margin-left: 5%;
}
.half-width img
{
    margin-top: 5%;
    width: 80%;
    border-radius: 75%;
    box-shadow: 10px 10px 40px black;
}
.food-header
{
    margin: 0;
    padding-top: 10px;
}
.food-info
{
    margin:0;
}
body
{
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.order-btn
{
    text-decoration: none;
    border: 1px solid tomato;
    padding: 10px 40px;
    background-image: linear-gradient(red, rgb(250, 242, 241));
    border-radius: 5px;
    color:aliceblue;
    font-weight: 700;
}
.order-btn:hover
{
    background-image: linear-gradient(white, red);
}
.back-ground
{
    background-color: lightcoral;
    margin-bottom: 0;
}
#about
{
    margin-top: 15%;
}

.healthy-food img
{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    
}
.card
{
    height:30%;
    width: 30%;
    border: 3px solid black;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 50px black;
    margin-bottom: 5%;
    border-radius: 5px;
    margin-top: 5%;
}
h4
{
    text-align: center;
}
#menu
{
    text-align: center;
    margin-bottom: 5%;
    font-size: 50px;
    color: tomato;
}
.back-pink
{
    background-color: rgb(246, 222, 226);
}

.whole-card
{
    border: 1px solid rgb(222, 215, 215);
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 10px 10px 70px rgb(180, 119, 27);
    border-image: linear-gradient(white, tomato);
    border-left: 7px solid;
    border-image-slice: 1;
    border-radius: 5px;
}
.margin
{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
}
#footer
{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.879);
    background-color: rgba(5, 5, 5, 0.856);
    color: white;
    margin-bottom: 5%;
    box-shadow: 10px 10px 50px black;
}
#branch
{
    text-align: center;
    color:rgb(38, 73, 38);
}

/* Responsiveness for Mobile screen */
@media only screen and (max-width: 668px) {
    .flex-direction
    {
        flex-direction:column;
        width: 700px;
    }
   .half-width
   {
    margin-left: 35%;
    padding-bottom: 15px;
   }
   #menu
   {
    margin-left: 75%;
   }
   #branch
   {
    margin-left: 75%;
    font-size: 40px;
   }
   .food-items
   {
    width: 700px;
   }
   .food-title
   {
    margin-top: 35px;
    margin-left: 15%;
    padding-top: 10px;
   }
   .food-info
   {
    width: 400px;
   }
   .responsive-layout
   {
    align-items: center;
   }
   .whole-card
   {
    width: 650px;
   }
   .margin
{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
#uttra
{
    margin-top: -35%;
}
#mirpur
{
    margin-top: -25%;
}
footer
{
    width: 700px;
}

}
/* Responsive for Tablet screen */
@media only screen and (min-width:669px) and (max-width:992px) {
    .resize
    {
        padding: 10px 0;
    }
  
}